<!DOCTYPE html>
<html lang="en">

<head>
    <title>threecompany</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/img/icono_pagina.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
   <header class="sticky-top" >
       <nav class="navbar sticky-top navbar-expand-sm navbar-light" id="barraMenu">
           <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="logo" width="40px"></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">Products</a>
                    </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="divGaleria">
        <ul id=flexGaleria>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria1.jpg" alt="treehouse picture1" class=imagenGaleria></li>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria2.jpg" alt="treehouse picture2" class=imagenGaleria></li>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria3.jpg" alt="treehouse picture3" class=imagenGaleria></li>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria4.jpg" alt="treehouse picture4" class=imagenGaleria></li>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria5.jpg" alt="treehouse picture5" class=imagenGaleria></li>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria6.jpg" alt="treehouse picture6" class=imagenGaleria></li>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria7.jpg" alt="treehouse picture7" class=imagenGaleria></li>
            <li class="liFlexHijo"><img src="../assets/img/imagengaleria8.jpg" alt="treehouse picture8" class=imagenGaleria></li>
        </ul>
    </div>

    <footer class="pie">
        <div class="pie__cont-texto">
            <p class="pie__p"> Design by Florencia Amendola 2020</p>
        </div> 
        <div class="pie__cont-redes">
            <a href="#"><img src="../assets/img/logoig.png" width="30px" alt="logo instagram"></a>
            <a href="#"><img src="../assets/img/logofb.png" width="30px" alt="logo facebook"></a>     
            <a href="#"><img src="../assets/img/logotw.png" width="30px" alt="logo twitter"></a>
            <a href="#"><img src="../assets/img/logopint.png" width="30px" alt="logo pinterest"></a> 
        </div>     
    </footer>
    
</body>

</html>

   