/* VARIABLES COLORES*/

$blanco-fondo: #fdfff9;
$gris-oscuro: #353333;
$gris-nav: rgb(226, 231, 229);
$gris-borde:#c2c8ca;
$gris2: #333;
$bordo: #3a1515;
$texto-pie: rgba(175, 165, 165, 0.712);
$gris3:  rgb(158, 160, 159); 
$bordo-claro: #553333;
$sombra:rgba(0, 0, 0, 0);

/* ESTILOS BASICOS */

body {
	background-color: $blanco-fondo;
	color: $gris-oscuro;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	h1 {
		font-size: xx-large;
		font-weight: normal; }
	h2 {
		font-size: 30px; 
		font-weight: normal; }
	p {
		text-indent: 1em;		
	strong {
		color: $bordo;	
	}		
  }
}
 
/* ESTILOS BARRA DE NAVEGACION */

#barraMenu {
  background-color: $gris-nav;
  /*rgba(246, 250, 249, 0.712);*/
  .nav-link {
    font-family: 'Poppins', sans-serif;
	font-weight: normal;	
 	}
}

.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px $sombra;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: $sombra; }
  
.nav-link:hover, .nav-link:focus, .nav-link:active {
  box-shadow: inset 0 0 0 1px $gris-borde, 0 0 1px $sombra; }
 
/* ESTILOS PIE */
 
.footer {
	background-color: $bordo;
	color: $blanco-fondo;
	font-size: smaller;
	padding-top: 50px;
	
	.flex-redes {
		display: flex;
		justify-content: space-around;
		align-items: center;	 
		padding-top: 0%;
		padding-bottom: 10%;
	}

	.links {
		ul {list-style-type: none;}
		li a{
			color: white;
			transition: color .2s;
			&:hover{
				text-decoration:none;
				color:$texto-pie;
				}
		}
	} 
	.copyright p {
		border-top:1px solid rgba(255,255,255,.1);
		padding-bottom: 40px;
	} 
}

/* ESTILOS INDEX */

#carousel {	
	.carousel-item {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;	
	}
	.carousel-item.active,
	.carousel-item-next,
	.carousel-item-prev {
   		 flex: 1 0 100%;
	}
	.carousel-item-next:not(.carousel-item-left),
	.active.carousel-item-right,
	.carousel-item-prev:not(.carousel-item-right),
	.active.carousel-item-left {
		flex: 0 0 0;
	}
		
	.img-1 {
		background-image: url('../img/imagenindex.jpg');
	}

	.img-2 {
    background-image: url('../img/imagenindex1.jpg');
	}

	.img-3 {
    background-image: url('../img/imagenindex1n.jpg');
	}	
}

main {
	.texto-principal {
  		font-size: normal;
 		line-height: 150%;
		text-align: justify;
		margin-top: 40px;
		margin-bottom: 60px;
	}

	.fas, .far {
  		font-size: 5em;
  		color: $bordo; 
	}

	.pilares {
		padding-bottom: 60px ;
	}
}
  
/* ESTILOS ABOUT*/

.card-deck {
	margin-top: 50px;
}
.card{
  margin: 5% 0%;
}

.card-area {
	margin-bottom: 30px;
}
.card-body{
  margin: 0% 0% 0% 3%;
  padding: 0;    
}

.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
	top: -20px;	    
}

.profile-card-5 .card-img-block img{
    border-radius:2px;
    box-shadow:0 0 6px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    text-align: center;
}

/* ESTILOS PRODUCTS */

section {
	margin-top: 40px;
	margin-bottom: 30px;
}

/* ESTILOS GALLERY */

.galeria {
	.galeria_flex-padre {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		justify-content: space-around;
		align-items: center;
		margin: 0;
		padding-top: 40px; 
		padding-bottom: 60px;
		padding-left: 0%;
	}

	.flex-hijo {
		margin-bottom: 30px; }

	.flex-hijo_imagen {
		width: 18em;
		border-radius:2px;
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px $sombra;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: box-shadow, transform;
		transition-property: box-shadow, transform; }

	.flex-hijo_imagen:hover, .flex-hijo_imagen:focus, .flex-hijo_imagen:active {
		box-shadow: 0 10px 10px -10px $sombra;
		-webkit-transform: scale(1.1);
		transform: scale(1.1); }		
}

/* ESTILOS CONTACT */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box }

input, textarea, button {
	color: $gris3;
	font-size: 13px; }

a:hover {
	text-decoration: none; }

:focus {
	outline: none; }
	
.wrapper {
    display: flex;
	align-items: center;
	min-height: 100vh;
	background-image: url('../img/imagenback.jpg');
	background-size: cover;
	background-repeat: no-repeat; }

.inner {
	min-width: 850px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-left: 5%;
	h3 {
		font-size: 20px;
		color: $gris2;
		font-weight: normal;
		text-align: center;
		padding-top: 20px;
		margin-bottom: 32px;
	    letter-spacing: 2px; }	
}

form {
	width: 50%;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	background-color: $blanco-fondo;
	font-family:'Poppins', sans-serif;
	font-size: smaller;
}

.form-group {
	display: flex;
	.form-wrapper {
		width: 50%;
		&:first-child {
			margin-right: 20px;
		}
	}
}

.form-wrapper {
	color: $gris2;
	margin-bottom: 17px;
	label {
		margin-bottom: 9px;
        display: block;
	}
}

.form-control{
	border: 1px solid $gris-borde;
	&:focus {
		border: 1px solid $bordo;
	}
}

.button-submit {
	border: none;
	width: 152px;
	height: 40px;
	margin: auto;
	margin-top: 29px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: $bordo;
	font-size: 13px;
	color: $blanco-fondo;
	text-transform: uppercase;
	border-radius: 5px;
	overflow: hidden;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px $sombra;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $bordo-claro;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&:hover {
		&:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
	}
}

@media (max-width: 1800px) {
	
	#tituloPagina  {
		font-size: 50px;
		
	}
	.carousel-caption h5 {
		font-size: 40px;
	}

} 

@media (max-width: 900px) {
	#tituloPagina  {
		font-size: 40px;
	}
	.carousel-caption h5 {
		font-size: 30px;
	}
}

@media (max-width: 500px) {
	
	#tituloPagina  {
		font-size: 30px;
		
	}
	.carousel-caption h5 {
		font-size: 25px;
	}
	
	.inner {
		min-width: auto;
		padding-top: 0;
		margin: 0,
	}
	form {
		width: 100%;
		padding-right: 15px;
        padding-left: 15px;
	}
	#flexGaleria {
		padding: 8%; 
	}
	.imagenGaleria {
		width: 100%;
	}
	.liFlexHijo {
		margin-bottom: 8%;
	}
	#containerfotosStaff {
		padding-left:10%;
		padding-right: 10%;
		#imagenStaff {
		width: 100%; }
	}
	.flex-redes	{
		padding: 0%; 
	}
	
	
}

