/* VARIABLES COLORES*/
/* ESTILOS BASICOS */
body {
  background-color: #fdfff9;
  color: #353333;
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
  margin: 0; }
  body h1 {
    font-size: xx-large;
    font-weight: normal; }
  body h2 {
    font-size: 30px;
    font-weight: normal; }
  body p {
    text-indent: 1em; }
    body p strong {
      color: #3a1515; }

/* ESTILOS BARRA DE NAVEGACION */
#barraMenu {
  position: sticky;
  z-index: -2; }

#barraMenu {
  background-color: #e2e7e5;
  /*rgba(246, 250, 249, 0.712);*/ }
  #barraMenu .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: normal; }

.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: rgba(0, 0, 0, 0); }

.nav-link:hover, .nav-link:focus, .nav-link:active {
  box-shadow: inset 0 0 0 1px #c2c8ca, 0 0 1px rgba(0, 0, 0, 0); }

/* ESTILOS PIE */
.footer {
  background-color: #3a1515;
  color: #fdfff9;
  font-size: smaller;
  padding-top: 50px; }
  .footer .flex-redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 10%; }
  .footer .links ul {
    list-style-type: none; }
  .footer .links li a {
    color: white;
    transition: color .2s; }
    .footer .links li a:hover {
      text-decoration: none;
      color: rgba(175, 165, 165, 0.712); }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 40px; }

/* ESTILOS INDEX */
#carousel .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#carousel .carousel-item.active,
#carousel .carousel-item-next,
#carousel .carousel-item-prev {
  flex: 1 0 100%; }

#carousel .carousel-item-next:not(.carousel-item-left),
#carousel .active.carousel-item-right,
#carousel .carousel-item-prev:not(.carousel-item-right),
#carousel .active.carousel-item-left {
  flex: 0 0 0; }

#carousel .img-1 {
  background-image: url("../img/imagenindex.jpg"); }

#carousel .img-2 {
  background-image: url("../img/imagenindex1.jpg"); }

#carousel .img-3 {
  background-image: url("../img/imagenindex1n.jpg"); }

main .texto-principal {
  font-size: normal;
  line-height: 150%;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 60px; }

main .fas, main .far {
  font-size: 5em;
  color: #3a1515;
  padding-bottom: 20px; }

main .pilares {
  padding-bottom: 60px; }

/* ESTILOS ABOUT*/
.card-deck {
  margin-top: 50px; }

.card {
  margin: 5% 0%; }

.card-area {
  margin-bottom: 30px; }

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 0; }

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px; }

.profile-card-5 .card-img-block img {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.63); }

.profile-card-5 h5 {
  text-align: center; }

/* ESTILOS PRODUCTS */
section {
  margin-top: 40px;
  margin-bottom: 30px; }

/* ESTILOS GALLERY */
.galeria .galeria_flex-padre {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 0%; }

.galeria .flex-hijo {
  margin-bottom: 30px; }

.galeria .flex-hijo_imagen {
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.galeria .flex-hijo_imagen:hover, .galeria .flex-hijo_imagen:focus, .galeria .flex-hijo_imagen:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* ESTILOS CONTACT */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea, button {
  color: #9ea09f;
  font-size: 13px; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/imagenback.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.inner {
  min-width: 850px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: 5%; }
  .inner h3 {
    font-size: 20px;
    color: #333;
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 32px;
    letter-spacing: 2px; }

form {
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: #fdfff9;
  font-family: 'Poppins', sans-serif;
  font-size: smaller; }

.form-group {
  display: flex; }
  .form-group .form-wrapper {
    width: 50%; }
    .form-group .form-wrapper:first-child {
      margin-right: 20px; }

.form-wrapper {
  color: #333;
  margin-bottom: 17px; }
  .form-wrapper label {
    margin-bottom: 9px;
    display: block; }

.form-control {
  border: 1px solid #c2c8ca; }
  .form-control:focus {
    border: 1px solid #3a1515; }

.button-submit {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #3a1515;
  font-size: 13px;
  color: #fdfff9;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .button-submit:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #553333;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .button-submit:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

@media (max-width: 1800px) {
  #tituloPagina {
    font-size: 60px;
    padding-bottom: 10px; }
  .carousel-caption h5 {
    font-size: 40px;
    padding-bottom: 20px; }
  .flex-hijo_imagen {
    width: 18em; } }

@media (max-width: 900px) {
  #tituloPagina {
    font-size: 45px;
    padding-bottom: 30px; }
  .carousel-caption h5 {
    font-size: 35px;
    padding-bottom: 30px; } }

@media (max-width: 500px) {
  #tituloPagina {
    font-size: 38px;
    font-weight: 500;
    padding-bottom: 30px; }
  .carousel-caption h5 {
    font-size: 30px;
    padding-bottom: 30px; }
  .inner {
    min-width: auto;
    padding-top: 0;
    margin: 0; }
  form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  .flex-redes {
    padding: 0%; }
  .flex-hijo_imagen {
    width: 21em; } }
